* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#navbar {
    font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: white;
  position: fixed;
  top: 0;
}
#welcome {
  background-image: url("./image/digitalswitzerland-Digital-Day-Visual_BlogHeader.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  flex-direction: column;
  gap: 5rem;
}
#welcome h1 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.25rem;
  font-size: 1.5rem;
  width: 20rem;
  margin: 0 auto;
}
img {
  width: 20rem;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
}
#page2 {
  background-color: #f4f4f4;
  color: #282e34;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 25rem;
  padding: 3rem 5rem;
  background-image: url("./image/Wealthtech-Switzerland-Report-1440x564_c.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}
h2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
h3 {
  margin: 1rem;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin: 1rem;
  cursor: pointer;
}
a {
    
    color: rgb(178, 49, 73);
  text-align: center;
    text-decoration: none;
    padding:1rem;

}
a:hover {
  transition: background-color 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

#navbar div {
    display: flex;
    text-align: center;
  justify-content: center;
  padding: 0 1rem;
}
h1 {
    text-align: center;
}
span {
    color: rgb(178, 49, 73);
}

@media only screen and (max-width: 743px) {
    #navbar div {
      font-size: 1rem;
      width: 100%;
    padding-top: 0.5rem;
    margin: 0;
  }
  #navbar h3 {
      margin: 0;
    margin-bottom: 0.5rem;
}
  #navbar ul {
      
      margin-top: -1.4rem;
  }
  img{
      margin-top: 10rem;
    }
  a{
      color: black;  
      padding: 0.3rem;
      
    }
a:hover {

        background-color: white;
  transition: background-color 5s;
        
        border-bottom: 2px solid yellow;
        color: black;

    }
  
}
